<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

        <link rel="stylesheet" href="static/css/dashboard.css">
    </head>

    <body>
        <br><br>
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3"><canvas id="NumPagesChart"
                            height="200"></canvas></div>
                    <div class="col-sm-6 text-center">
                        <div class="user-list-table-container">
                            <table class="user-list-table">
                                <!-- Contenido de la tabla -->
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <canvas id="firefoxUsersPieChart" height="200"></canvas>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-4"><canvas
                            id="chromeCookiesChart"></canvas></div>
                    <div class="col-sm-4"><canvas
                            id="firefoxCookiesChart"></canvas></div>
                    <div class="col-sm-4"><canvas id="topTenPagesChart"></div>
                    </div>
                    <br>
                    <div class="col-sm-3">
                        <form id="browserForm">
                            <label for="browserSelect">Selecciona un
                                navegador:</label>
                            <select id="browserSelect" class="form-select">
                                <option value="firefox">Firefox</option>
                                <option value="chrome">Chrome</option>
                            </select>
                            <br>
                            <button type="submit" class="btn btn-primary"
                                id="submitButton">Mostrar</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal FIREFOX -->
            <div class="modal fade" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <!-- Utilizamos modal-lg para hacer el modal más grande -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="exampleModalLabel">Cookies Firefox</h5>
                            <!-- Cambiamos h1 por h5 para seguir la jerarquía de títulos -->
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>

                                </thead>
                                <tbody id="cookiesTableBody">
                                    <!-- Aquí se insertarán las filas de la tabla mediante JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal CHROME -->
            <div class="modal fade" id="cookiesModal" tabindex="-1"
                aria-labelledby="cookiesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="cookiesModalLabel">Cookies</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Valor</th>
                                        <th>Host</th>
                                        <th>Path</th>
                                        <th>Expira</th>
                                        <th>Último acceso</th>
                                    </tr>
                                </thead>
                                <tbody id="cookiesTableBody">
                                    <!-- Aquí se insertarán las filas de la tabla mediante JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </body>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="/static/js/dashboard.js" charset="utf-8 "></script>

    </html>